* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 600px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill {
  width: 480px;
  height: 580px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.screen {
  background-color: black;
  grid-column: span 4 / span 4;
  grid-row-start: 1;
}

.screen {
    background-color: dimgray;
    font-family: sans-serif;
    font-size: 80px;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: hidden;
    overflow-x: scroll;
}

.screen::-webkit-scrollbar {
  display: none;
}

.screen {
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 5px inset grey;
}

.one,
.two,
.three,
.plus {
  grid-row-start: 2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  border: 0px solid
}

.one,
.two,
.three {
    background-color: gray;
}

.plus {
    background-color: orange;
}

.four,
.five,
.six,
.minus {
  grid-row-start: 3;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  border: 0px solid
}

.four,
.five,
.six {
    background-color: gray;
}

.minus {
    background-color: orange;
}

.seven,
.eight,
.nine,
.times {
  grid-row-start: 4;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  border: 0px solid
}

.seven,
.eight,
.nine {
    background-color: gray;
}

.zero:hover, .one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover{
  background-color: rgb(59, 59, 59);
}

.times {
  background-color: orange;
}

.times:hover, .plus:hover, .minus:hover, .divide:hover {
  background-color: rgb(148, 96, 0);
}

.equal:hover {
  background-color: rgb(0, 90, 0);
}

.removeOne:hover {
  background-color: rgb(153, 0, 0);
}

.equal,
.zero,
.removeOne,
.divide {
  grid-row-start: 5;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  border: 0px solid black
}

.removeOne {
    background-color: red;
}

.zero {
    background-color: gray;
}

.equal {
    background-color: green;
}

.divide {
    background-color: orange;
}

.button:hover {
  cursor: pointer;
}